django>=5.0
dj-database-url
psycopg2-binary
python-decouple
whitenoise
gunicorn
djangorestframework
djangorestframework-gis
Shapely
Fiona==1.9.5
pyproj
geopandas
lancedb
huggingface_hub
arrow
pandas
numpy
django-q2[postgres]
django-unfold
django-debug-toolbar
ruff
python-dotenv
pyyaml